<div class="eggs" *ngIf="scoreEgg === 1">
    <p class="eggs__title">You are so slow... Even my grandma clicks this button faster. Try one more time!</p>
    <img src="assets/images/grandma.jpg" alt="grandma"  class="eggs__image"/>
</div>

<div class="eggs" *ngIf="scoreEgg === 2">
    <p class="eggs__title">Not the worth, but you can faster. One more time?</p>
    <img src="assets/images/sloth.jpg" alt="sloth"  class="eggs__image"/>
</div>

<div class="eggs" *ngIf="scoreEgg === 3">
    <p class="eggs__title">Oh, man. Seems you wanna get the best score.</p>
    <img src="assets/images/middle.jpg" alt="middle"  class="eggs__image"/>
</div>

<div class="eggs" *ngIf="scoreEgg === 4">
    <p class="eggs__title">Almost the best. Keep trying!</p>
    <img src="assets/images/cool.jpg" alt="cool"  class="eggs__image"/>
</div>

<div class="eggs" *ngIf="scoreEgg === 5">
    <p class="eggs__title">Awesome! How it possible to click so fast?</p>
    <img src="assets/images/boss.jpg" alt="boss"  class="eggs__image"/>
</div>

<div class="eggs" *ngIf="scoreEgg === 6">
    <p class="eggs__title">Ok, ok. You are the best.</p>
    <img src="assets/images/hero.jpg" alt="hero"  class="eggs__image"/>
</div>